body {
    background-color: #ecf1f1c9;
}


/* NAV BAR */
.navbar {
    padding-left: 2%;
    padding-right: 2%;
}

h1, h3{
    font-family: 'Crimson Pro', serif;
}


/* Background Image */
#intro {
    background-image: url(/images/green-girl.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px 1px white;
}



.colorgreen {
    color: #44beac;
}

.text-black {
    margin-top: 15%;
}

 .zara-collection {
    margin-left: 32%;
    margin-top: 5%;
 }


 @media (max-width: 576px) {
    .card-group {
        display:-ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
}

/* This is for the Text of the first image to move right. */
@media (max-width: 600px) {
    .lefft {
        margin-left: 35%;
    }
}

